/* Start Global Rules */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Landing Page */
.landing-page header {
    min-height: 80px;
    display: flex;
}

@media (max-width: 767px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}

.landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .landing-page header .container {
        flex-direction: column;
        justify-content: center;
    }
}

.landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

@media (max-width: 767px) {
    .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #heading{
        font-size: xx-large;
    }
}

.landing-page header .links {
    display: flex;
    align-items: center;
}
.links a {
    text-decoration: none;
    color: rgb(107, 105, 105);
    font-weight: bold;
    font-size: medium;
    position: relative;
}
.links a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #525252;
    transition: width 0.3s ease-in-out;
}

.links a:hover::before {
    width: 100%;
}
@media (max-width: 767px) {
    .landing-page header .links {
        text-align: center;
        gap: 10px;
    }
}
/* CSS */
button {
    padding: 0.1em 0.25em;
    width: 8.1em;
    height: 4.0em;
    background-color: #5468ff;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
}

button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 6.25em;
    height: 2.0em;
    background-color: #5468ff;
    border-radius: 0.2em;
    font-size: 1.2em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
    transition: all 1s;
}
.landing-page header .links li {
    margin-left: 30px;
}

@media (max-width: 767px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}

.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .landing-page .content .info {
        text-align: center;
        margin-bottom: 15px
    }
}

.landing-page .content .info h1 {
    color: #5d5d5d;
    font-size: 44px;
}

.landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .content .info button {
    margin-top: 30px;
}
.landing-page  button:hover{
    background-color: lightblue;
    color: black;
}
.landing-page .content .image img {
    max-width: 100%;
}

